*.o
*.bin
*.mot
*.map
*.rom
*.sys
Dependencies
Dependencies_src
\!OLD/
version.c
tmonitor
tmonitor.map
tmonitor.mot
.metadata/
.settings/
.cproject
.project
*.jlink
*.launch
devconf.c
sysconf.c
rominfo-ram
rominfo-rom
*.a
*.uo
app_rzt1/
app_rzt1.*/
rzt1/
rzt1.h
app_sh7760/
app_sh7760.*/
sh7760/
sh4/
setup-sh4.c
reset-sh4.c
sh_scif.c
scifa.c
sh7760.h
gccsh
