*.o
*.bin
*.mot
*.map
*.rom
*.sys
Dependencies
Dependencies_src
\!OLD/
ver_info.c
tmonitor
*.jlink
*.launch
*.log
devconf.c
sysconf.c
rominfo-ram
rominfo-rom
*.a
*.uo
.history/
*.snap
