*.o
*.bin
*.mot
*.map
*.rom
*.sys
Dependencies
Dependencies_src
\!OLD/
version.c
tmonitor
tmonitor.map
tmonitor.mot
*.jlink
*.launch
devconf.c
sysconf.c
rominfo-ram
rominfo-rom
*.a
*.uo
